root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json}]
indent_size = 2

[*.{sh,py,java,md,yml,yaml,json,tsv}]
end_of_line = lf

[*.{ps1,cmd,bat}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
